/* #canvas{
  width: 50%;
  border: 1px solid #ddd;
  padding: 10rem 5rem;
  text-align: center;
}

span{
  color: #e4a;
} */


/* span{
  background: #d40d0d;
  padding: 1rem;
  color: #f3f3f3;
  margin: 1em 0;
  display: inline-block;
}

.available span{
  background: #12ad12;
}

.nearby span:after{
  content: 'Nearby';
  margin-left: .33rem;
} */

.container{
  width: 85%;
  max-width: 65em;
  margin: 2rem auto;
}

#bag{
  width: 7.5rem;
  height: 7rem;
  background: url('/img/bag.png') center no-repeat;
  background-size: 80%;
  margin: 1rem auto;
  padding: 6rem 0;
}

#bag.bursted{
  background: url('/img/bag-burst.png') center no-repeat;
  background-size: 80%;
}

#bag-health{
  width: 9.3rem;
  border: 2px solid #050505;
  border-radius: .37rem;
  margin: 0 auto
}

#bag-health div{
  background-color: #ca0636;
  height: 1.55rem;
  border-radius: .24rem;
}

#controls{
  margin: 0 auto;
  width: 8rem;
}

#controls button{
  font-size: .94rem;  
  border-style: none;
  outline: none;
  padding: .40rem;
  font-weight: 800;
}

.reStart{
  width: 100%;
  border-radius: .5rem;
  background-color: #db1445f8;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 2.9rem;
}

#game-msg p{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 1.5rem;
  font-family: cursive;
  font-size: 1.9rem;
}