/* #canvas{
  width: 50%;
  border: 1px solid #ddd;
  padding: 10rem 5rem;
  text-align: center;
}

span{
  color: #e4a;
} */


/* span{
  background: #d40d0d;
  padding: 1rem;
  color: #f3f3f3;
  margin: 1em 0;
  display: inline-block;
}

.available span{
  background: #12ad12;
}

.nearby span:after{
  content: 'Nearby';
  margin-left: .33rem;
} */


#bag{
  width: 12.5rem;
  height: 31.35rem;
  background: url('img/bag.png') center no-repeat;
  margin: 0 auto;
  background-size: 70%;
}

#bag.burst{
  background: url('img/bag-burst.png') center no-repeat;
  background-size: 70%;
}

#bag-health{
  width: 12rem;
  border: 1px solid #030f00;
  margin: 3rem auto 0 auto;
  border-radius: .44rem;
}

#bag-health div{
  height: 1.25rem;
  background: #ca0637;
  border-radius: .35rem;
}

#controls{
  margin: 0 auto;
  width: 9rem;
}

button{
  border-style: none;
  padding: .44rem;
  margin: 0 .23rem;
  font-size: 1rem;
  border-radius: .5rem;

}